<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Movie App
    </title>
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">
    <!-- OWL CAROUSEL -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" />
    <!-- BOX ICONS -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!-- APP CSS -->
    <link rel="stylesheet" th:href="@{/grid.css}"/>
    <link rel="stylesheet" th:href="@{/app.css}"/>
</head>

<body>
<!-- NAV -->
<div class="nav-wrapper">
    <div class="container">
        <div class="nav">
            <a href="#" class="logo">
                <i class='bx bx-movie-play bx-tada main-color'></i>Mov<span class="main-color">i</span>e App
            </a>
            <ul class="nav-menu" id="nav-menu">
                <li><a href="/">Home</a></li>
                <li><a href="#action">Action</a></li>
                <li><a href="#comedy">Comedy</a></li>
                <li><a href="#fantasy">Fantasy</a></li>
                <li>
                    <a href="https://www.themoviedb.org/" class="btn btn-hover">
                        <span>More Genre</span>
                    </a>
                </li>
            </ul>
            <div class="hamburger-menu" id="hamburger-menu">
                <div class="hamburger"></div>
            </div>
        </div>
    </div>
</div>
<!-- END NAV -->
<div class="hero-section">
    <div class="hero-slide">
        <div class="owl-carousel carousel-nav-center" id="hero-carousel">
            <!-- SLIDE ITEM -->
            <div class="hero-slide-item">
                <img th:src="${moviesGenre.defaultMovie.urlImage}" alt="">
                <div class="overlay"></div>
                <div class="hero-slide-item-content">
                    <div class="item-content-wraper">
                        <div class="item-content-title top-down">
                            <span th:text="${moviesGenre.defaultMovie.title}"></span>
                        </div>
                        <div class="movie-infos top-down delay-2">
                            <div class="movie-info">
                                <i class="bx bxs-star"></i>
                                <span th:text="${moviesGenre.defaultMovie.vote_average}">9.5</span>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-time"></i>
                                <span>+ 1H</span>
                            </div>
                            <div class="movie-info">
                                <span>HD</span>
                            </div>
                            <div class="movie-info">
                                <span>12+</span>
                            </div>
                        </div>
                        <div class="item-content-description top-down delay-4">
                        <p th:text="${moviesGenre.defaultMovie.overview}"></p>
                        </div>
                        <div class="item-action top-down delay-6">
                            <a th:href="${moviesGenre.defaultMovie.details}" class="btn btn-hover">
                                <i class="bx bxs-plus"></i>
                                <span>More Details</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END HERO SECTION -->

<div class="section">
    <div class="container">
        <div class="section-header">
            most popular
        </div>
        <div class="movies-slide carousel-nav-center owl-carousel">
            <!-- MOVIE ITEM -->
            <div th:each="movie : ${moviesGenre.populars}">
                <a class="movie-item"  th:href="${movie.details}">
                    <img  alt="" th:src="${movie.urlImage}">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            <span th:text="${movie.title}"></span>
                            <!--<p th:text="${movie.subsOverview}"></p> -->
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="bx bxs-star"></i>
                                <span th:text="${movie.vote_average}">9.5</span>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-time"></i>
                                <span>+ 1H</span>
                            </div>
                            <div class="movie-info">
                                <span>HD</span>
                            </div>
                            <div class="movie-info">
                                <span>12+</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- END MOVIE ITEM -->
        </div>
    </div>
</div>

<div class="section" id="action">
    <div class="container">
        <div class="section-header">
            Action
        </div>
        <div class="movies-slide carousel-nav-center owl-carousel">
            <!-- MOVIE ITEM -->
            <div th:each="movie : ${moviesGenre.actions}">
                <a class="movie-item"  th:href="${movie.details}">
                    <img  alt="" th:src="${movie.urlImage}">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            <span th:text="${movie.title}"></span>
                            <!--<p th:text="${movie.subsOverview}"></p> -->
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="bx bxs-star"></i>
                                <span th:text="${movie.vote_average}">9.5</span>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-time"></i>
                                <span>+1 H</span>
                            </div>
                            <div class="movie-info">
                                <span>HD</span>
                            </div>
                            <div class="movie-info">
                                <span>12+</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- END MOVIE ITEM -->
        </div>
    </div>
</div>

<div class="section" id="comedy">
    <div class="container">
        <div class="section-header">
            comedy
        </div>
        <div class="movies-slide carousel-nav-center owl-carousel">
            <!-- MOVIE ITEM -->
            <div th:each="movie : ${moviesGenre.comedies}">
                <a class="movie-item"  th:href="${movie.details}">
                    <img  alt="" th:src="${movie.urlImage}">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            <span th:text="${movie.title}"></span>
                            <!--<p th:text="${movie.subsOverview}"></p> -->
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="bx bxs-star"></i>
                                <span th:text="${movie.vote_average}">9.5</span>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-time"></i>
                                <span>+ 1H</span>
                            </div>
                            <div class="movie-info">
                                <span>HD</span>
                            </div>
                            <div class="movie-info">
                                <span>10+</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- END MOVIE ITEM -->
        </div>
    </div>
</div>

<div class="section" id="fantasy">
    <div class="container">
        <div class="section-header">
            Fantasy
        </div>
        <div class="movies-slide carousel-nav-center owl-carousel">
            <!-- MOVIE ITEM -->
            <div th:each="movie : ${moviesGenre.fantasies}">
                <a class="movie-item"  th:href="${movie.details}">
                    <img  alt="" th:src="${movie.urlImage}">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            <span th:text="${movie.title}"></span>
                            <!--<p th:text="${movie.subsOverview}"></p> -->
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="bx bxs-star"></i>
                                <span th:text="${movie.vote_average}">9.5</span>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-time"></i>
                                <span>+ 1H</span>
                            </div>
                            <div class="movie-info">
                                <span>HD</span>
                            </div>
                            <div class="movie-info">
                                <span>12+</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- END MOVIE ITEM -->
        </div>
    </div>
</div>

<!-- FOOTER SECTION -->
<footer class="section">
    <div class="container">
        <div class="row">
            <div class="col-4 col-md-6 col-sm-12">
                <div class="content">
                    <a href="#" class="logo">
                        <i class='bx bx-movie-play bx-tada main-color'></i>Fl<span class="main-color">i</span>x
                    </a>
                    <p>
                       Nous sommes deux étudiants en Master 1 Cybersécurité à l'unviersité de Paris.
                    </p>
                    <div class="social-list">
                        <a href="#" class="social-item">
                            <i class="bx bxl-github"></i>
                        </a>
                        <a href="#" class="social-item">
                            <i class="bx bxl-twitter"></i>
                        </a>
                        <a href="#" class="social-item">
                            <i class="bx bxl-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-8 col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-3 col-md-6 col-sm-6">
                        <div class="content">
                            <p><b>Movie App</b></p>
                            <ul class="footer-menu">
                                <li><a href="#">About us</a></li>
                                <li><a href="#">My profile</a></li>
                                <li><a href="#">Contacts</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-3 col-md-6 col-sm-6">
                        <div class="content">
                            <p><b>Browse</b></p>
                            <ul class="footer-menu">
                                <li><a href="#">About us</a></li>
                                <li><a href="#">My profile</a></li>
                                <li><a href="#">Contacts</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-3 col-md-6 col-sm-6">
                        <div class="content">
                            <p><b>Help</b></p>
                            <ul class="footer-menu">
                                <li><a href="#">About us</a></li>
                                <li><a href="#">My profile</a></li>
                                <li><a href="#">Contacts</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- END FOOTER SECTION -->

<!-- SCRIPT -->
<!-- JQUERY -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<!-- OWL CAROUSEL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous"></script>
<!-- APP SCRIPT -->
<script type="text/javascript" th:src="@{/app.js}"></script>

</body>

</html>
